/*styling for homework pages linked to main page*/

/*Styling navigation bar*/
ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-color: lightgray;
    margin-right: 10px;
    width: 110px;
    float: left;

}

li a {
    display: block;
    color: black;
    width: 100px;
    border: 1px solid black;
    text-decoration: none;
    padding: 5px;
}

li a:hover{
    color: white;
    background-color: gray;

}

a.mainpg {
    font-weight: bold;

}

/* Styling for various areas in linked pages. */
    /*divs and named areas for adjustment*/
div {
    margin-left: 200px;
}

div + div{
    margin-top: 20px;

}

#flip {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: italic;

}
#describe {
    padding: 20px;
    display: none;
    font-weight: bold;
}

#clearDisplay {
    width: 100px;
    text-align: center;
    background-color: white;
}

    /* nums class numbers values are alligned right */
.nums {
    text-align: right;
}

/*Table settings.*/
table {
    display: inline-block;
    vertical-align: text-top;
}

textarea {
    margin-top: 20px
}
.powerTbl
{
    border-collapse: collapse;
}

.powerTbl th,
.powerTbl td,
.powerTbl tr 
{
    padding: 10px;
    border: 1px solid black;
}
